In [1]:
import pyspark

In [5]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

### Spark SQL - Consultas e seleções

In [ ]:
df = spark.sql('''SELECT 'OK' as status''')
df.show()

### Importing Data

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/PÓS DATA ANALYTICS/BASES POS TECH 3/SPARK/cereal.csv', sep=',', header=True, inferSchema=True)

In [ ]:
df.show()

### Manipulation Data With Spark SQL

In [ ]:
df.createOrReplaceTempView('cereal')

In [ ]:
cereal  = spark.sql('''SELECT * FROM cereal''')
cereal.show()

In [ ]:
cereal2  = spark.sql('''SELECT * FROM cereal WHERE type = 'C' ''')
cereal2.show()

In [ ]:
df.show()

In [ ]:
df.where(df['mfr'] == 'G').show()

### Select no SparkSQL

In [ ]:
df.printSchema()

In [ ]:
df.createOrReplaceTempView('cereal')

In [ ]:
cereal3 = spark.sql('''SELECT DISTINCT type, mfr FROM cereal''')

In [ ]:
cereal3.count()

### WHERE no SparkSQL

In [ ]:
cereal4 = spark.sql('''SELECT * FROM cereal WHERE mfr = 'K' AND calories >= 100  ''')
cereal4.count()

In [ ]:
cereal4 = spark.sql('''SELECT * FROM cereal WHERE mfr = 'K' ''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

In [ ]:
cereal4 = spark.sql('''SELECT * FROM cereal WHERE mfr = 'K' AND calories >= 100 ''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

In [ ]:
cereal4 = spark.sql('''SELECT * FROM cereal WHERE mfr = 'K' AND calories = 100 ''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

### GroupBy

In [ ]:
cereal4 = spark.sql('''SELECT type, mfr, COUNT(*) AS Total FROM cereal GROUP BY mfr, type ''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

### Agregação de funções cont e sum

In [ ]:
cereal4 = spark.sql('''SELECT type, mfr, COUNT(*) AS Total, SUM(calories) total_calorias FROM cereal GROUP BY mfr, type ''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

### Melhorando legibilidade do codigo com indentação

In [ ]:
cereal4 = spark.sql('''SELECT mfr, \
                              type, \
                              COUNT(*) AS Total, \
                              SUM(calories) total_calorias \
                   FROM cereal \
                   GROUP BY \
                              mfr, \
                              type ''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

### CASE WHEN

In [ ]:
cereal4 = spark.sql('''SELECT DISTINCT type \
                       FROM cereal''')
cereal4.show(4)
print('Contagam de linha:' , cereal4.count())

In [ ]:
cereal4 = spark.sql('''SELECT mfr,
                              type,
                              (case
                                    when type = 'C' then 'A'
                                    when type = 'H' then 'B'
                                    else 'C'
                                    end)
                                    as type_new,
                              COUNT(*) AS Total,
                              sum(calories) total_calorias
                   FROM cereal
                   GROUP BY
                              mfr,
                              type ''')
cereal4.show()
print('Contagam de linha:' , cereal4.count())

### Consultas avançadas com PySpark e SQL

In [ ]:
cereal4 = spark.sql('''
                      SELECT mfr,
                      type,

                      sum(calories) as sum_calories,
                      min(calories) as min_calories,
                      max(calories) as max_calories,
                      cast(avg(calories) as decimal (10,2)) as avg_calories,

                      sum(carbo) as sum_carbo,
                      min(carbo) as min_carbo,
                      max(carbo) as max_carbo,
                      cast(avg(carbo) as decimal (10,2)) as avg_carbo,

                      sum(vitamins) as sum_vitamins,
                      min(vitamins) as min_vitamins,
                      max(vitamins) as max_vitamins,
                      cast(avg(vitamins) as decimal (10,2)) as avg_vitamins,


                      count(distinct name),
                      count(name)
                   FROM cereal
                   GROUP BY
                              mfr,
                              type
                   ORDER BY
                              mfr,
                              type
                   ''')
cereal4.show()